.widgetWrap {
	text-align: center;
	font-family: "Nunito", sans-serif;
	background: #222222;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.widgetWrap .widgetTitle {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 10px;
	color: #ffffff;
}

.widgetWrap .widgetValue .value {
	font-weight: 700;
	font-size: 65px;
	text-align: center;
	padding: 0px 5px;
	color: #379bf9;
}

.widgetWrap .widgetValue .valueDescription {
	font-weight: 300;
	font-size: 14px;
	padding: 0px 5px 20px 5px;
	text-align: center;
	color: #cccccc;
}

.bar {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	background: #222222;
	width: 100%;
}

.line {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	background: #222222;
	width: 100%;
}

.doughnut {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	background: #222222;
	width: 100%;
}
